<launch>
  <arg name="frame_id" default="soma_link"/>
  <arg name="nodelet_manager_name" default="soma_vision_manager"/>

  <arg name="input_points" default="/camera_R/prefiltered"/>
	
  <!-- launch the nodelet manager -->
  <node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager_name)" args="manager" />


  <!-- launch Plane Segmentation nodelet -->
  <node pkg="nodelet" type="nodelet" name="plane_segmenatation"
        args="load soma_vision/PlaneSegmentationNodelet $(arg nodelet_manager_name)" >
        <remap from="input_points" to="$(arg input_points)"/>
        <param name="base_link" value="$(arg frame_id)"/>
  </node>

</launch>
