<launch>
  <arg name="base_link" default="soma_link"/>

  <arg name="serial_no_camera1" default="843112071843"/>
  <!--arg name="serial_no_camera1" default="918512073241"/-->
  <!-- Note: Replace with actual serial number -->
  <arg name="serial_no_camera2" default="939622073512"/>
  <!-- Note: Replace with actual serial number -->
  <arg name="camera1" default="camera_L"/>
  <!-- Note: Replace with camera name -->
  <arg name="camera2" default="camera_R"/>
  <!-- Note: Replace with camera name -->
  <arg name="camera1_link" default="$(arg camera1)_link"/>
  <arg name="camera2_link" default="$(arg camera2)_link"/>

  <include file="$(find realsense2_camera)/launch/rs_rgbd.launch">
    <arg name="camera" value="$(arg camera1)" />
    <arg name="serial_no" value="$(arg serial_no_camera1)" />
    <arg name="enable_infra1" value="false"/>
    <arg name="enable_infra2" value="false"/>
    <arg name="enable_fisheye" value="false"/>
    <arg name="enable_gyro" value="false"/>
    <arg name="enable_accel" value="false"/>
    <arg name="enable_pointcloud" value="true" />
    <arg name="color_fps" value="15" />
    <arg name="depth_fps" value="15" />
  </include>

  <include file="$(find realsense2_camera)/launch/rs_rgbd.launch">
    <arg name="camera" value="$(arg camera2)" />
    <arg name="serial_no" value="$(arg serial_no_camera2)" />
    <arg name="enable_infra1" value="false"/>
    <arg name="enable_infra2" value="false"/>
    <arg name="enable_fisheye" value="false"/>
    <arg name="enable_gyro" value="false"/>
    <arg name="enable_accel" value="false"/>
    <arg name="enable_pointcloud" value="true" />
    <arg name="color_fps" value="15" />
    <arg name="depth_fps" value="15" />
  </include>

</launch>

