<launch>
	<arg name="base_link" default="base_link" />
	<arg name="map_frame_id" default="map" />
	<arg name="odom_frame_id" default="odom" />
	<arg name="gui" default="false"/>
	<!--  -->
	<node name="harvest_behavior_node" pkg="soma_mse" type="harvest_behavior_node">
		<param name="base_link" value="$(arg base_link)" />
		<param name="map_frame_id" value="$(arg map_frame_id)" />
		<param name="odom_frame_id" value="$(arg odom_frame_id)" />
		<!-- load local costmap parameters from yaml -->
		<rosparam command="load" file="$(find soma_mse)/config/local_costmap.yaml"/>
		<rosparam command="load" file="$(find soma_mse)/config/local_planner.yaml"/>
	</node>
	<!--  -->
	<!-- <node pkg="rqt_ez_publisher" type="rqt_ez_publisher" name="rqtpub"/>
 -->
	<!--  -->
	<!-- <node pkg="rviz" type="rviz" name="harvest_rviz" args="-d $(find soma_mse)/rviz/harvest.rviz" /> -->
</launch>
