<?xml version="1.0"?>
<launch>
	<!-- arguments -->
	<arg name="base_frame_id" default="base_link" />
	<arg name="gui" default="false"/>
	<!-- Lidar launch -->
	<include file="$(find soma_sensor)/launch/lidar.launch">
		<arg name="base_link" value="$(arg base_frame_id)" />
		<arg name="tfargs" default="0.55 0 0.84 0 0 0" />
	</include>
	<!-- IMU (xsense, MTi30) node launch -->
	<include file="$(find soma_sensor)/launch/imu.launch">
		<arg name="base_link" value="$(arg base_frame_id)" />
		<arg name="tfargs" value="0 0 1.45 0 0 0" />
	</include>
	<!-- GPS node launch -->
	<!-- <include file="$(find nmea_navsat_driver)/launch/nmea_serial_driver.launch" /> -->
	<node if="$(arg gui)" pkg="rviz" name="gui_mse_sensors" type="rviz" args="-d $(find soma_mse)/rviz/sensors.rviz"/>
</launch>
