<?xml version="1.0" ?>

<launch>
  <arg name="camera_name" default="camera_L"/>
  <arg name="frame_id" default="soma_link"/>
  <arg name="input_points" default="/$(arg camera_name)/prefiltered"/>
  <!-- <arg name="input_points" default="/$(arg camera_name)/depth_registered/points"/> -->
  <arg name="input_imu" default="/imu/data"/>

  <!-- launch the nodelet manager -->
  <arg name="nodelet_manager_name" default="soma_vision_manager"/>
  <node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager_name)" args="manager" output="screen" />

  <node pkg="nodelet" type="nodelet" name="tf_transform" 
    args="load jsk_pcl/TfTransformCloud $(arg nodelet_manager_name)">
    <remap from="~input" to="$(arg input_points)" />
    <remap from="~output" to="$(arg camera_name)/transformed" />
    <param name="~target_frame_id" value="$(arg frame_id)" />
  </node>
 
</launch>
