<?xml version="1.0"?>
<launch>

  <include file="$(find hdl_graph_slam)/launch/hdl_graph_slam.launch">

    <arg name="enable_imu_ori" value="false"/>
    <!-- based on velodyne frame -->
    <arg name="height_max" default="3.0"/>
    <arg name="height_min" default="-1.0"/>

    <!-- based on ROBOT frame -->
    <arg name="distance_near_thresh" value="0.5"/>
    <arg name="distance_far_thresh" value="50.0"/>

  </include>

</launch>
