<launch>
 <node pkg="rosbag" type="record" name="record" output="screen"  
 args="-o /home/soma1/Documents/tomokawa/ 
 /camera_F/color/camera_info 
 /camera_F/color/image_raw 
 /camera_F/depth/image_rect_raw
 /camera_F/depth_registered/points 
 /camera_F/prefiltered 
 /imu/data 
 /soma/odom_dr 
 /soma/ut 
 /tf 
 /tf_static "/>
</launch>