local_costmap:
  plugins: 
    - {name: obstacle_layer, type: 'costmap_2d::ObstacleLayer'}
  global_frame: odom
  robot_base_frame: base_link
  rolling_window: true
  width: 5.0
  height: 5.0
  origin_x: 0.0
  origin_y: 0.0
  resolution: 0.05
  update_frequency: 1.0
  publish_frequency: 1.0

  obstacle_layer:
    observation_sources: pointcloud
    pointcloud: 
      sensor_frame: velodyne
      topic: /filtered_points
      data_type: PointCloud2
      marking: true
      clearing: true
      obstacle_range: 5.0
      obstacle_min_z: -0.5
      ray_trace_range: 6.0