<launch>
	<node name="joy_noe" pkg="joy" type="joy_node" />
	<node name="teleop_node" pkg="teleop_twist_joy" type="teleop_node">
		<param name="scale_linear" value="1.0"/>
		<param name="scale_angular" value="3.1415"/>
	</node>
	<include file="$(find minisoma)/launch/dynamixel_controller.launch" />
</launch>
