<launch>
  <arg name="base_link" default="soma_link"/>
	<arg name="frame_id" default="gps"/>
  <arg name="tfargs" default="0 0 1.0 0 0 0"/>

	<include file="$(find nmea_navsat_driver)/launch/nmea_serial_driver.launch">
		<arg name="port" value="/dev/ttyACM0"/>
		<arg name="baud" value="115200"/>
		<arg name="frame_id" value="$(arg frame_id)"/>
	</include>

	  <!-- tf soma2lidar -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="gps2baselink"
     args="$(arg tfargs) $(arg base_link) $(arg frame_id)"/>
</launch>
