<launch>

    <!-- rgbd camera node launch-->
    <include file="$(find soma_sensor)/launch/rgbd_camera.launch">
        <arg name="camera_name" value="camera_L"/>
        <arg name="serial_no" value="939622073512"/>
        <arg name="pan_angle" value="-20"/>
        <arg name="tilt_angle" value="15"/>
        <arg name="role_angle" value="0"/>
        <arg name="tx" default="0.85"/>
        <arg name="ty" default="0.25"/>
        <arg name="tz" default="0.8"/>
    </include>

</launch>